@import "vars";
@import "libs";
@import "fonts";
@import "blocks/_header.scss";
@import "blocks/_nav.scss";
@import "blocks/_about.scss";
@import "blocks/_skills.scss";
@import "blocks/_works.scss";
@import "blocks/_contact.scss";

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    &.lock {
        overflow: hidden;
    }
}

*,
*:before,
*:after  {
    box-sizing: border-box;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

ul, ol {
    padding: 0;
    margin: 0;
}

button {
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;
}

.logo {
    position: relative;
    z-index: 20;
    opacity: 0;
    font-size: 30px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 3px -3px 9px rgba(0,0,0,.5);
    span {
        color: #19bd9b;
    }
}

@media(max-width: $md4) {
    .logo {
        font-size: 26px;
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

.section {
    padding: 100px 0px 70px;
}

.title {
    text-align: center;
    position: relative;
    margin-bottom: 80px;
    font-size: 48px;
    color: #2a2b2d;
    span {
        color: #19bd9b;
    }
}

@media(max-width: $md3) {
    .title {
        margin-bottom: 60px;
        font-size: 42px;
    }
    .section {
        padding: 60px 0px 50px;
    }
}


@media(max-width: $md4) {
    .title {
        margin-bottom: 40px;
        font-size: 36px;
    }
}
