.nav {
	position: relative;
	z-index: 5;
	display: flex;
	align-items: center;
	height: 80px;
	background-color: #2a2b2d;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	&.nav-fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__menu {
		overflow: auto;
		display: flex;
		text-align: center;
		list-style: none;
		&.active {
			display: block;
		}
	}
	&__menu-list {
		padding: 30px 0px;
	}
	&__menu-link {
		position: relative;
		font-size: 16px;
		color: #fff;
		text-decoration: none;
		padding: 15px 20px;
		transition: all 300ms ease;
		&:before{
			position: absolute;
			content: '';
			width: 0%;
			height: 100%;
			background: #ccb65e;
			top: 0;
			left: 50%;
			z-index: -1;
			transition: all 0ms ease;
		}
		&:hover{
			&:before{
				position: absolute;
				content: '';
				width: 100%;
				height: 100%;
				background: #ccb65e;
				top: 0;
				left: 0%;
				z-index: -1;
				transition: all 300ms ease;
			}
		}
	}
	&__burger {
		display: none;
		position: relative;
		width: 40px;
		height: 30px;
		&:hover {
			&:before,
			&:after {
				transition: .2s linear;
				background-color: #ffc815;
			}
			span {
				transition: .2s linear;
				background-color: #ffc815;
			}
		}
		&:before,
		&:after {
			content: '';
			background-color: #ccc;
			position: absolute;
			right: 0px;
			z-index: 10;
			width: 100%;
			height: 4px;
			transition: .2s linear;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
		span {
			background-color: #ccc;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0px;
			width: 100%;
			height: 4px;
			transition: .2s linear;
		}
		&.active {
			span {
				transform: translateX(-30px);
				opacity: 0;
			}
			&:before {
				top: 13px;
				transform: rotate(45deg);
			}
			&:after {
				bottom: 13px;
				transform: rotate(-45deg);
			}
		}
	}
}

.nav-fixed .logo {
	transition: .3s linear;
	opacity: 1;
}

@media(max-width: $md2) {
	.nav {
		&__menu {
			display: none;
			padding-top: 80px;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 10;
			width: 100%;
			height: 100%;
			z-index: 10;
			background-color: #2a2b2d;
			border-top: 1px solid hsla(0,0%,100%,.5);
		}
		&__menu-list {
			border-top: 1px solid hsla(0,0%,100%,.2);	
		}
		&__burger {
			display: block;
		}
	}
}

@media(max-width: $md3) {
	.nav {
		height: 60px;
		&__menu {
			padding-top: 60px;
		}
	}
}

@media(max-width: $md4) {
	.nav {
		height: 45px;
		&__menu {
			padding-top: 45px;
		}
		&__burger {
			width: 30px;
			height: 20px;
			&:before,
			&:after {
				height: 2px;
			}
			span {
				height: 2px;
			}
			&.active {
				&:before {
					top: 5px;
				}
				&:after {
					bottom: 13px;
				}
			}
		}
	}
}

